params {
    modules {
        'spectral_preprocessing' {
            args          = ""
            publish_dir   = "spectral_preprocessing"
            publish_by_id = true
        }
    }

    modules {
        'data_analysis' {
            args          = ""
            publish_dir   = "data_analysis"
            publish_by_id = true
        }
    }

    modules {
        'metabolites_quantification' {
            args          = ""
            publish_dir   = "metabolites_quantification"
            publish_by_id = true
        }
    }

    modules {
        'pathway_analysis' {
            args          = ""
            publish_dir   = "pathway_analysis"
            publish_by_id = true
        }
    }
}
