date = new Date().format('yyyy-MM-dd_kk-mm')

timeline {
    enabled = true
    file = "${params.reportsDir}/${date}_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.reportsDir}/${date}_trace.txt"
    overwrite = true
}

report {
    enabled = true
    file = "${params.reportsDir}/${date}_report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.reportsDir}/${date}_dag.svg"
    overwrite = true
}
